@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&family=Quicksand:wght@300;400;700&display=swap');


body {
  background-color: #121212;
  color: #fff;
  font-family: "Nunito", sans-serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div#title {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

h1 {
  position: absolute;
  top: 3rem;
  font-family: "Quicksand", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}

img#logo {
  position: relative;
  width: 12.5rem;
  filter: invert(13%) sepia(0%) saturate(6%) hue-rotate(168deg) brightness(99%) contrast(75%);
}

div#search-section {
  padding-top: 6.25rem;
  text-align: center;
}

input#search {
  background-color: #272727;
  color: #fff;
  width: 62.5rem;
  height: 1.875rem;
  padding-left: 0.625rem;
  border: none;
  border-radius: 0.625rem;
  font-size: 0.875rem;
}

input#search:focus {
  border: none;
  background-color: #272727;
  color: #fff;
}

button#search-btn {
  width: 2.5rem;
  height: 2rem;
  transition: all 0.001s;
  margin-left: 0.4em;
}

button#refresh, button#open-info-modal, button#close-info-modal,  #close-btn0, #close-btn1, #close-btn2, #close-btn3, #add-btn0, #add-btn1, #add-btn2, #add-btn3{
  width: 2rem;
  height: 1.3rem;
  transition: 0.65s all;
}

button#search-btn,
button#refresh, button#open-info-modal, button#close-info-modal, #close-btn0, #close-btn1, #close-btn2, #close-btn3, #add-btn0, #add-btn1, #add-btn2, #add-btn3 {
  border: none;
  border-radius: 0.625rem;
  background-color: #272727;
  color: rgb(133, 133, 133);
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  cursor: pointer;
}

button#search-btn:hover,
button#refresh:hover, button#open-info-modal:hover, button#close-info-modal:hover {
  color: #fff;
}

button#refresh:hover{
  transform: rotate(180deg);
} 

button#search-btn:active, button#open-info-modal:active, button#close-info-modal:active {
  transform: translateY(0.125rem);
}

div#main-section {
  width: 65.75rem;
  height: 31.25rem;
  margin: 1.25rem auto;
  border-radius: 0.625rem;
  background-color: #272727;
}

div#info-section {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0.7rem 0 0;
  color: rgba(255, 255, 255, 0.6);
}

div#last-update {
  display: flex;
  justify-content: flex-end;
}


div#main-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  font-weight: 700;
}

div#city,
div#temperature {
  display: inline;
  margin-top: 7rem;
}

div#city {
  font-size: 4rem;
  max-width: 30rem;
}

div#temperature {
  font-size: 8rem;
}

div#sec-info {
  padding-top: 8rem;
  color: rgba(255, 255, 255, 0.6);
}

div#statistics {
  display: flex;
  justify-content: space-around;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.6);
}

/* inicio do css modal */

*, *::after, *::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 10;
  background-color: #272727;
  font-size: 1.25rem;
  font-weight: 100;
  width: 60rem;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  text-align: right;
}

.modal-body {
  padding: 0 1rem 1rem 1rem;
  line-height: 1.25rem;
}

.modal-body #spaced-info {
  line-height: 4rem;
}


.modal-body i {
  margin: 0 0.675rem;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

/* inicio do toggle button  */

input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -2000rem;
  width: 1rem;
  height: 2rem;
  bottom: 0.2rem;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  width: 0.75rem;
  height: 0.75rem;
  background: #fff;
  border-radius: 5.5rem;
  transition: 0.3s;
}

input:checked + label {
  background: #121212;
}

input:checked + label:after {
  top: 0.4rem;
  transform: translateY(100%);
}

label:active:after {
  height: 0.77rem;
}

div#change-temp-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;
  font-size: 0.5rem;
}

div#favcities-section {
  width: 65.75rem;
  height: 10rem;
  margin: 1.25rem auto;
  
}

div#cities-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  
}

.favcity-card0,.favcity-card1,.favcity-card2,.favcity-card3, .favcity-card {
  width: 14rem;
  height: 8.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #272727;
  border-radius: 0.625rem;
  
}

.close-btn-container{
  display: flex;
  justify-content: flex-end;
}

.favcity-card0 span,.favcity-card1 span,.favcity-card2 span,.favcity-card3 span, .favcity-card span{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-bottom: 2rem;
  
}

span {
  margin-top: 15%;
  font-size: 21px;
  font-weight: 700;
}

div#copyright {
  margin-top: 12.5%;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}